html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: rgb(30, 30, 30);
    font-family: "Raleway", "sans-serif";
}

*:focus {
    outline: none;
}

.main {
    overflow-x: hidden;
}

.header {
    height: 100px;
    color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    box-shadow: 1px 1px 4px rgba(216, 215, 215, 0.3);
    margin-bottom: 40px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-title {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    color: white
}

.header-img {
    height: 40px;
    width: 40px;
    margin-left: 40px;
}

#hamburger-menu {
    position: absolute;
    right: 0px;
    top: 40px;
    height: 24px;
    width: 24px;
    margin-right: 40px;
    cursor: pointer;
}

.overlay-menu1 {
    background-color: rgb(50, 50, 48);
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 16px;
    z-index: 5;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    /* word-wrap: break-word; */
    width: 500px;
    height: 80vh;
    overflow: auto;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    transform: translateX(532px);
    transition: all 225ms ease-in-out;
}

.show-overlay-menu {
    transform: translateX(0);
}

.overlay-menu-link {
    color: white;
    text-decoration: none;
}

.hide-button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: black;
    background-color: rgb(255, 220, 64);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-family: "Raleway", "sans-serif";
    font-size: 14px;
}

.hide-button:hover {
    background-color: rgb(251, 205, 79);
}

.trash-img {
    height: 40px;
    width: 40px;
}

.input {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

#input-container {
    display: flex;
    flex-direction: column;
    padding: 24px 24px;
    margin: 0 10vh;
    background-color: rgb(39, 40, 35);
    border-radius: 16px;
}

#input-title {
    background-color: rgb(39, 40, 35);
    border: none;
    color: white;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Raleway", "sans-serif";
    border-bottom: 1px solid rgb(255, 220, 64);;
    /* border: 1px solid rgb(39, 40, 35); */
}

#input-note {
    background-color: rgb(39, 40, 35);
    border: none;
    color: white;
    padding: 8px;
    font-size: 18px;
    height: 120px;
    resize: none;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Raleway", "sans-serif";
}

#input-button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 220, 64);
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    font-family: "Raleway", "sans-serif";
    font-size: 16px;
}

#input-button:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(246, 207, 100);
}

#content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding-left: 80px;
    padding-right: 80px;
}

.added-note {
    background-color: rgb(39, 40, 35);
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 24px 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    word-wrap: break-word;
    border-radius: 16px;
    width: 250px;
}

.added-note:hover {
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.delete-button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 220, 64);
    cursor: pointer;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    font-family: "Raleway", "sans-serif";
    font-size: 14px;
}

.delete-button:hover {
    background-color: rgb(251, 205, 79);
}

.added-note-trash {
    background-color: rgb(39, 40, 35);
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 24px 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    word-wrap: break-word;
    border-radius: 16px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

#trash-icon {
    width: 24px;
    height: 24px;
}

@media(max-width: 50000px) {
    #input-container {
        width: 500px;
    }
}

@media(max-width: 430px) {

    .header-left {
        gap: 24px;
    }

    .header-title {
        font-size: 20px;
    }

    .header-img {
        height: 32px;
        width: 32px;
    }

    #input-container {
        width: 220px;
    }

    #input-title {
        font-size: 14px;
    }

    #input-note {
        font-size: 14px;
    }

    #input-button {
        font-size: 14px;
    }

    #content {
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .added-note {
        width: 220px;
        margin-left: 0px;
    }
}